#visuPollBody {
	padding: 10px;
	margin-left: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
	font-size: 64px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: .3em 0 .1em 0;
	text-rendering: optimizeLegibility;
}

#data-table, #demographic-data-table {
	width: 100%;
	margin-top: 10px;
	border-collapse: collapse;
	border: 1px solid gray;
}

.dataTableHeaderRow td {
	background-color: #C4F2FF;
}

#data-table td, #demographic-data-table td {
	padding: 3px 10px 3px 10px;
	border: 1px solid gray;
}



#tooltip {
	position: absolute;
	background: rgba(100,100,100,0.5);
	padding: 5px;
}